.order-wrap{
  :global{
    .order-status{

border: 1px solid #DCDCDC;
      font-size: 18px;
      color: #333333;
      padding: 30px 60px;
      .status{
        margin-top: 40px;
      }
    }
    .desc{
      .tit{
        font-size: 18px;
line-height: 50px;
color: #333333;
font-weight: bolder;
      }
    }
  }
}
