.repair-wrap{

  :global{
    .page-wrap{
      text-align: center;
      margin: 40px 0;
    }
    table{
      width: 100%;
      thead{
        height: 50px;
        border-bottom: 1px solid #E8E8E8;
      }
      tbody{
        tr{
          height: 100px;
        }
      }
    }
    .tit{
      font-size: 24px;
      color: #333;
      font-weight: bold;
      margin-top: 22px;

      border-bottom: 1px solid #BFBFBF;
      line-height: 5px;
      margin-bottom: 30px;

    }
  }
}
