.theme-color{
  color: @primary-color;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.title{
  font-weight: bold;
  line-height: 25px;
  color: #000000;
  font-size: 22px;
  display: inline-block;
  border-bottom: solid 3px @primary-color;
  padding-bottom: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 00px;
  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
