.line-header{
  background-color: #F6F6F6;
  
  :global{
    .content{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #333333;
      align-items: center;
      height: 33px;
    }
    .lf{
      color: #999999;
    }
    .rg{

    }
  }
}
.for-menu{
  :global{
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
      flex: 1;
    }
    .ant-menu-dark .ant-menu-item-selected{
      background-color: #1052B4;
    }
    .ant-menu-dark .ant-menu-item{
      color: white;
    }
    .ant-menu.ant-menu-dark{
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
      background-color: @primary-color;
    }
  }
}
.headerWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  >.rg{
    text-align: left;
  }
  >.lf{
    margin-top: 20px;
  }
  :global{
    .ant-menu-horizontal > .ant-menu-item{
      width: 114px;
    }
    .ant-menu-horizontal{
      border-bottom-color: transparent;
    }
     .ant-menu-item{
      color: #666666;
      font-size: 20px;
      font-weight: normal;
    }
    .ant-menu{
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
    }
    .search-his {
      font-size: 14px;
      color: #999999;
      position: absolute;
       bottom: -20px;
      >span{
        margin-right: 15px;
      }
    }
    .ant-input-affix-wrapper{
      border-color: @primary-color;
      // border-width: 2px;
    }
    .line2{
      display: flex;
      align-items: self-start;
    }
    .btn-round{
      width: 75px;
      height: 40px;
      position: relative;
      display: inline-block;
      z-index: 1;
      background-color: #105CCE;
      >span{
        position: absolute;
        z-index: 999;
        line-height: 100%;
        left: 10px;
        top: 12px;
        color: white;
        cursor: pointer;
        font-size: 16px;
      }
      &.rg{
        background-color: #B20900;
        &::after{
          margin-left: -10px;
          background-color: #B20900;
        }
      }
      &::after{
        content: '';
        margin-left: 30px;
        display: inline-block;
        transform: skew(-20deg); 
        width: 60px;
        height: 40px;
        background-color: #105CCE;
        z-index: 2;

      }
    }
  }
}

.footer{
  padding: 25px 0;
  :global{
    .lf{
      font-size: 16px;
      color: #333;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      img{
        vertical-align: top;
      }
      .info{
        font-size: 14px;
        line-height: 25px;
      }
    }
    .rg{
      
    }
  }
}
